body{
    color: white;
    background: rgb(28, 33, 39) !important;
    font-weight: 400;
    overflow-x: hidden;
    overscroll-behavior-y: none;
    padding: 0;
    transition: background .3s ease-in-out;
    margin: 0;

}